.first { 
 display: block;
 position: center;
 margin: auto;
}
.second {
 display: inline-block;
 max-width: 50%;
}
.third {
display: inline-block;
max-width: 40%;
}
h3 {
    text-align: center;
}
li {
    text-align: center;
    display: inline-block;
}
ul {
    text-align: center;
}